@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("https://www.tahiti.com/images1/thumbs/conrad-bora-bora-nui-aerial-1200x720.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: "Poppins", sans-serif;
    color: white;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: hsl(0, 0%, 11%);
    opacity: .85;
    padding: .75rem;
}

#navbar > div {
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo {
    font-size: 3rem;
    rotate: -45deg;
}

#navbar ul {
    display: flex;
    gap: 2rem;
    list-style-type: none;
}

#navbar form {
    width: 33%;
    background-color: white;
    border-radius: 9999rem;
    padding: .5rem 1rem;
}

#navbar input {
    width: 74%;
    background-color: transparent;
    border: none;
    outline: none;
    padding: .5rem;
    color: hsl(172, 74%, 26%);
}

#navbar input::placeholder {
    color: hsl(172, 74%, 26%);
}

#navbar button, #book-now, #visit {
    background-color: hsl(172, 74%, 26%);
    color: white;
    padding: .5rem;
    border: none;
    border-radius: .5rem;
    cursor: pointer;
}

#main-container {
    min-height: calc(100vh - 3rem);
    background-image: linear-gradient(to right, hsla(172, 74%, 26%, 0.856), hsla(0, 0%, 71%, 0.13));
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 1rem;
    padding: 1rem;
}

#hero-section {
    grid-column: 2 / 9;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-top: 10vh;
}

#book-now {
    width: 20%;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    opacity: .85;
}

#main-container h1 {
    text-transform: uppercase;
    font-size: 5rem;
    line-height: 5.5rem;
}

#social-media-icons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding-top: 40vh;
    font-size: 2rem;
}

#search-results-container {
    grid-column: 9 / 13;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#search-results-container div {
    display: flex;
    flex-direction: column;
    background-color: white;
    color: hsl(0, 0%, 11%);
    border-radius: .5rem;
    box-shadow: 0 0 2rem .25rem hsla(0, 0%, 11%, 0.76);
}

#search-results-container img {
    width: 100%;
    border-radius: .5rem .5rem 0 0;
}

#search-results-container div div {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
}

#search-results-container p {
    color: darkgray;
}

#visit {
    width: 15%;
    text-align: center;
}